In [1]:
import pyspark
from datetime import datetime

In [2]:
from pyspark.sql import SparkSession, types , functions as F

In [3]:
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('homework') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/05 22:17:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/05 22:17:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
# Read the October 2019 FHV into a Spark Dataframe with a schema

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-05 22:17:09--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T061709Z&X-Amz-Expires=300&X-Amz-Signature=4e2efc935f7e8e235f015c345efed10952ffddc125298f9a02c61aca2b846732&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-05 22:17:09--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T061709Z&X-Amz-Expires=300&X-Amz-Signature=4e2efc935f7e8e235f015c345efed10952ffddc125298f9a02c61aca2b846732&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  4.02MB/s    in 5.7s

2024-03-05 22:17:15 (3.26 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [5]:
import pandas as pd

In [6]:
df_pd = pd.read_csv('fhv_tripdata_2019-10.csv.gz')

In [7]:
df_pd.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [10]:
spark.createDataFrame(df_pd).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [11]:
schema = types.StructType(
    [types.StructField('dispatching_base_num', types.StringType(), True), 
     types.StructField('pickup_datetime', types.TimestampType(), True),
     types.StructField('dropOff_datetime', types.TimestampType(), True), 
     types.StructField('PUlocationID', types.IntegerType(), True), 
     types.StructField('DOlocationID', types.IntegerType(), True),
     types.StructField('SR_Flag', types.StringType(), True), 
     types.StructField('Affiliated_base_number', types.StringType(), True)])

In [12]:
df =spark.read \
    .option("header","true") \
    .schema(schema) \
    .csv ("fhv_tripdata_2019-10.csv.gz")

In [42]:
# Repartition the Dataframe to 6 partitions and save it to parquet.

# What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)?

In [13]:
df.repartition(6).write.parquet('fhv/2021/10/', mode="overwrite")

In [14]:
! ls -lh fhv/2021/10/

total 86784
-rw-r--r--  1 mahmoud  staff     0B Mar  5 22:18 _SUCCESS
-rw-r--r--  1 mahmoud  staff   6.3M Mar  5 22:18 part-00000-9a7bd557-d34a-435d-8360-89900cd4d198-c000.snappy.parquet
-rw-r--r--  1 mahmoud  staff   6.4M Mar  5 22:18 part-00001-9a7bd557-d34a-435d-8360-89900cd4d198-c000.snappy.parquet
-rw-r--r--  1 mahmoud  staff   6.4M Mar  5 22:18 part-00002-9a7bd557-d34a-435d-8360-89900cd4d198-c000.snappy.parquet
-rw-r--r--  1 mahmoud  staff   6.3M Mar  5 22:18 part-00003-9a7bd557-d34a-435d-8360-89900cd4d198-c000.snappy.parquet
-rw-r--r--  1 mahmoud  staff   6.4M Mar  5 22:18 part-00004-9a7bd557-d34a-435d-8360-89900cd4d198-c000.snappy.parquet
-rw-r--r--  1 mahmoud  staff   6.4M Mar  5 22:18 part-00005-9a7bd557-d34a-435d-8360-89900cd4d198-c000.snappy.parquet

In [ ]:
# How many taxi trips were there on the 15th of October?

# Consider only trips that started on the 15th of October.

In [15]:
df = spark.read.parquet('fhv/2021/10/')

In [16]:
df= df.withColumn('pickup_date',F.to_date('pickup_datetime'))

In [17]:
df.filter(df.pickup_date == '2019-10-15').select("pickup_date").count()

62610

In [18]:
df.createOrReplaceTempView('fhv_trips')

In [19]:
spark.sql( """
          select count(*)
          from fhv_trips
          where pickup_date = '2019-10-15'
          """).show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [ ]:
# Longest trip for each day

In [20]:
df.withColumn('trip_length_in_hour',F.expr("round(( UNIX_TIMESTAMP(dropOff_datetime)- UNIX_TIMESTAMP(pickup_datetime))/3600 ,2)")).show(3)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+-------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|trip_length_in_hour|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+-------------------+
|              B01239|2019-10-03 08:31:08|2019-10-03 08:59:29|         264|         220|   NULL|                B02788| 2019-10-03|               0.47|
|              B00937|2019-10-22 00:04:18|2019-10-22 00:22:22|         264|         243|   NULL|                B00937| 2019-10-22|                0.3|
|              B00014|2019-10-09 16:53:30|2019-10-09 17:31:04|         264|         264|   NULL|                B00014| 2019-10-09|               0.63|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+-------------------+
only showing top 3 rows

In [21]:
df_expr=df.withColumn('trip_length_in_hour',F.expr("round(( UNIX_TIMESTAMP(dropOff_datetime)- UNIX_TIMESTAMP(pickup_datetime))/3600 ,2)"))

In [22]:
df_expr.createOrReplaceTempView('fhv_trips')

In [36]:
spark.sql("""
        select pickup_date, max(trip_length_in_hour) as longest_trip 
        from fhv_trips
        group by pickup_date
        order by pickup_date
        """).show()

+-----------+------------+
|pickup_date|longest_trip|
+-----------+------------+
| 2019-10-01|    70128.03|
| 2019-10-02|      770.23|
| 2019-10-03|      746.38|
| 2019-10-04|      745.62|
| 2019-10-05|      698.18|
| 2019-10-06|      675.01|
| 2019-10-07|      745.17|
| 2019-10-08|      626.08|
| 2019-10-09|      602.31|
| 2019-10-10|      578.39|
| 2019-10-11|    631152.5|
| 2019-10-12|      529.91|
| 2019-10-13|      505.77|
| 2019-10-14|      483.04|
| 2019-10-15|      458.24|
| 2019-10-16|      605.07|
| 2019-10-17|      8794.0|
| 2019-10-18|      385.99|
| 2019-10-19|      361.95|
| 2019-10-20|      338.23|
+-----------+------------+
only showing top 20 rows

In [ ]:
# What is the length of the longest trip in the dataset in hours?

In [23]:
spark.sql( """
            select max(trip_length_in_hour) as  longest_trip 
            from fhv_trips
            """).show()

+------------+
|longest_trip|
+------------+
|    631152.5|
+------------+

In [24]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-05 22:20:55--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.91.126, 52.217.200.208, 52.217.163.40, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.91.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-05 22:20:56 (73.9 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [26]:
df_zones = spark.read.option("header","true").csv('taxi+_zone_lookup.csv')

In [27]:
df_zones.show(1)

+----------+-------+--------------+------------+
|LocationID|Borough|          Zone|service_zone|
+----------+-------+--------------+------------+
|         1|    EWR|Newark Airport|         EWR|
+----------+-------+--------------+------------+
only showing top 1 row

In [28]:
df_zones.write.parquet('zones/')

In [29]:
df_zones = spark.read.parquet('zones/')

In [30]:
df_zones.show(1)

+----------+-------+--------------+------------+
|LocationID|Borough|          Zone|service_zone|
+----------+-------+--------------+------------+
|         1|    EWR|Newark Airport|         EWR|
+----------+-------+--------------+------------+
only showing top 1 row

In [37]:
df_result = df_expr.join(df_zones, df_expr.PUlocationID == df_zones.LocationID)

In [38]:
df_result.show(1)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+-------------------+----------+-------+----+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|trip_length_in_hour|LocationID|Borough|Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+-------------------+----------+-------+----+------------+
|              B01239|2019-10-03 08:31:08|2019-10-03 08:59:29|         264|         220|   NULL|                B02788| 2019-10-03|               0.47|       264|Unknown|  NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+-------------------+----------+-------+----+------------+
only showing top 1 row

In [39]:
df_result.groupBy('Zone').count().orderBy('count').show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|         Jamaica Bay|    1|
|Governor's Island...|    2|
| Green-Wood Cemetery|    5|
|       Broad Channel|    8|
|     Highbridge Park|   14|
|        Battery Park|   15|
|Saint Michaels Ce...|   23|
|Breezy Point/Fort...|   25|
|Marine Park/Floyd...|   26|
|        Astoria Park|   29|
|    Inwood Hill Park|   39|
|       Willets Point|   47|
|Forest Park/Highl...|   53|
|  Brooklyn Navy Yard|   57|
|        Crotona Park|   62|
|        Country Club|   77|
|     Freshkills Park|   89|
|       Prospect Park|   98|
|     Columbia Street|  105|
|  South Williamsburg|  110|
+--------------------+-----+
only showing top 20 rows

In [40]:
df_result.createOrReplaceTempView('fhv_trips_zones')

In [41]:
spark.sql("""
            select Zone, count(1) as count 
            from fhv_trips_zones
            group by Zone
            order by count
            limit 1
            """).show()

+-----------+-----+
|       Zone|count|
+-----------+-----+
|Jamaica Bay|    1|
+-----------+-----+

In [ ]:
spark.stop()